.subscript::before {
  content: attr(data-content);
  $flag: attr(data-content);
  width: 1.2rem;
  height: 1.2rem;
  display: block;

  text-align: center;
  line-height: 1.2rem;
  font-size: 0.8rem;

  color: #fff;

  border-radius: 50%;
  background-color: #fa5251;

  position: absolute;
  top: .3rem;
  right: -.6rem;
  z-index: 10;
}